  @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap');
  *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  :root{
    --title: #ECE4EF;
    --description: #D8CEDE;
    --description: #9C83A7;


  }
  body{
    color: white;
    background: linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%);
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    width: 100%;
    font-family:'Source Sans Pro', sans-serif;
    display: flex; /* cria uma caixa de facil manipulação*/
    justify-content: center; /* alinhamento horizontal */
    align-items: center;  
    
  }
  .container{
    
  }
  .card-back{
    width: 348px;
    height: 486px;
    box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    display: flex; /* cria uma caixa de facil manipulação*/
    justify-content: center; /* alinhamento horizontal */
    align-items: center;
    object-fit: cover;
    border-radius: 16px;
    margin: auto -35px;
  }
  /* pseudo classe */
  .card-back:first-child{
    background-image: url("./assets/card-back/bg-card-right.png");
    font-size: 32px;
   
  }
  .cards{
    display: flex;
    align-items: center; /* alinhamento vertical */
    gap: 32px;
  }
  .card-back:last-child{

    background-image: url("./assets/card-back/bg-card-left.png");
    font-size: 32px;
  }
  .card-back h1{
    -webkit-text-stroke: 1px #312D74;
    -webkit-text-fill-color: transparent;
    
  }
  .card-front{
    object-fit: cover;
    background-image: url("./assets/card-front/bg.png");
    width: 436px;
    height:608px;
    box-shadow: 0px 294px 118px rgba(0, 0, 0, 0.03), 0px 165px 99px rgba(0, 0, 0, 0.1), 0px 73px 73px rgba(0, 0, 0, 0.17), 0px 18px 40px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;

  }
  .card-front header{
    width: 263px;
    height: 110px;
    
  }
  .card-info{
    padding: 48px 133px 60px 40px;
  }
  .card-info header{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 263px;
  }
  .card-info h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--title)
    text-transform:uppercase;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    letter-spacing: 0.08em;
   

  }
  aside{
    display: flex;
    flex-direction: column;
    width: 198px;
    gap: 16;
    margin-top: 60px;
  }
  .card-info span{
   line-height: 18px;
   color: var(--description);
   font-size: 14px;
   line-height: 18px;
   font-weight: 400px;
   gap: 16px;
   
   

  }
  .charactere img{
    position: absolute;
    bottom: 0;
    right: 0;
    
    
  }
  .card-info h4{

    font-size: 14px;
    font-weight: 700;
    color: var(--title);
    line-height: 18px;
    margin-bottom: 16px
    


  }
